<div class="achBox Backdrop_<%-ach.rare%> Completed_<%-ach.completed.toString()%>" id="<%-ach._id%>" >
    <img src="<%-ach.icon%>" alt="">
    <p>
        <b><%-ach.name-%></b>
        <br>
        <br>
        <%-ach.description-%>
    </p>
   <!-- <form class="compcheck" action="" method="POST">
        <input class="hidden" name="id" value="<%-ach._id%>" type="text">
        <input class="hidden" name="completed" value="1" type="checkbox" checked>
        <button>Send update</button>
    </form> -->
    <button class="triggerbutt" onclick="markComplete(this.id)" id="<%-ach._id%>">
        ✔
    </button>
</div>
    