<div class="achBox Backdrop_<%-ach.rare%> Completed_<%-ach.completed.toString()%>" id="<%-ach._id%>" >
    <img src="<%-ach.icon%>" alt="">
    <p>
        <b><%-ach.name-%></b>
        <br>
        <br>
        <%-ach.description-%>
    </p>
    <button class="triggerbutt" onclick="markComplete(this.id)" id="<%-ach._id%>">
        ✔
    </button>
</div>
    